<div class="mat-card page-header" fxLayout="row" fxLayoutAlign="space-between center">
  <h2 class="page-title">
    Overtime
  </h2>

  <mat-button-toggle-group aria-label="Toggle Calendar Type" name="selectDataType">
    <mat-button-toggle (click)="setActiveCalendar('monthly')" [checked]="!isYearlyActive()" value="monthly"> Monthly
    </mat-button-toggle>
    <mat-button-toggle (click)="setActiveCalendar('yearly')" [checked]="isYearlyActive()" value="yearly"> Yearly
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field>
    <mat-label> Select {{isYearlyActive() ? "Year" : "Month"}}</mat-label>
    <mat-select  *ngIf="!isYearlyActive()" [(ngModel)]="monthValueSelected" (ngModelChange)="dropDownValueChanged()">
      <mat-option *ngFor="let data of monthlyValues" [value]="data"> {{formatMonth(data)}}</mat-option>
    </mat-select>
    <mat-select *ngIf="isYearlyActive()" [(ngModel)]="yearlyValueSelected" (ngModelChange)="dropDownValueChanged()">
      <mat-option *ngFor="let data of yearlyValues" [value]="data"> {{data}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="recalculateOvertimes()" color="accent"
          mat-flat-button>
    Recalculate {{isUserPrivileged ? 'All Overtimes' : 'Overtime'}}
    <mat-icon fontSet="material-icons-round">cached</mat-icon>
  </button>

</div>
<mat-divider></mat-divider>
<div class="table-container">
  <mat-table [dataSource]="isYearlyActive() ? yearlyDataSource : monthlyDataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
    </ng-container>

    <!-- User Email Column -->
    <ng-container matColumnDef="userEmail">
      <mat-header-cell *matHeaderCellDef mat-sort-header> User Email</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userEmail}} </mat-cell>
    </ng-container>

    <!-- Hours Column -->
    <ng-container matColumnDef="hours">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Hours</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{convertHoursToText(element.hours)}} </mat-cell>
    </ng-container>

    <!-- Last Updated  Column -->
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.updatedAt | date:"dd.MM.yyyy"}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</div>
<div>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
<app-toast-component #appToastNotifications></app-toast-component>

