<!-- Toolbar -->
<mat-toolbar color="primary" class="mat-elevation-z6 app-header">
  <span>Workday Manager</span>
  <div class="spacer"></div>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" opened="opened">
    <mat-list role="list">
      <mat-list-item *ngFor="let link of sidebarLinkForLoggedInUser" [routerLink]="'/' + link.link"
                     fxLayoutAlign="center center"
                     role="button" routerLinkActive="link-active">
        <div fxLayout="column" fxLayoutAlign="space-around center">

          <mat-icon fontSet="material-icons-round" aria-hidden="false" color="primary">{{link.icon}}</mat-icon>
          <span class="sidebar-link-title"> {{link.name}} </span>

        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item (click)="logout()" fxLayoutAlign="center center" role="button">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-icon aria-hidden="false" color="warn" fontSet="material-icons-round">power_settings_new</mat-icon>
          <span class="sidebar-link-title"> Logout </span>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>


  </mat-sidenav>


  <mat-sidenav-content>

    <div class="content">

      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Footer -->
<!--<footer>-->
<!--  Workday Manager footer-->
<!--</footer>-->


