<!-- Toolbar -->
<mat-toolbar color="primary" class="mat-elevation-z6 app-header">
  <span>Workday Manager</span>
  <div class="spacer"></div>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" opened="opened">
    <mat-list role="list">
      <mat-list-item role="button" *ngFor="let link of sidebarLinks">
        <button class="btn vertical" mat-button [matTooltip]="link.name" [routerLink]=" '/' + link.link">
          <mat-icon fontSet="material-icons-round" aria-hidden="false" color="primary">{{link.icon}}</mat-icon>

        </button>
      </mat-list-item>
      <mat-list-item role="button">
        <button mat-button matTooltip="Logout" (click)="logout()">
          <mat-icon fontSet="material-icons-round" aria-hidden="false" color="warn">power_settings_new</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>


  </mat-sidenav>


  <mat-sidenav-content>

    <div class="content">

      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Footer -->
<footer>
  Workday Manager footer
</footer>


