<div class="mat-card page-header" fxLayout="row" fxLayoutAlign="space-between center">
  <h2 class="page-title">
    Leaves
  </h2>
  <div fxLayoutGap="10px">

    <button (click)="openApprovalsDialog()" *ngIf="isCurrentUserPrivileged" [matBadge]="getPendingApprovalsBadge"
            color="primary"
            mat-flat-button matBadgeColor="accent" matBadgePosition="above before"
            matBadgeSize="medium">
      Approvals
      <mat-icon fontSet="material-icons-round">local_post_office</mat-icon>
    </button>

    <button (click)="onAddLeavesClick()" color="accent" mat-flat-button>Add Leaves
      <mat-icon fontSet="material-icons-round"> add</mat-icon>
    </button>

  </div>
</div>
<mat-divider></mat-divider>
<div class="table-container">
  <!-- <ejs-gantt #ganttComponent [dataSource]="ganttDataSource" [taskFields]="ganttTaskFields" [allowSelection]="true"-->
  <!--            [labelSettings]="ganttLabelSettings" [projectStartDate]="ganttStartDate" [projectEndDate]="ganttEndDate"-->
  <!--            [highlightWeekends]="true">-->

  <!-- </ejs-gantt>-->

  <ejs-schedule #scheduleObj width='100%' height='100%' [selectedDate]="selectedDate" cssClass='timeline-resource'
                (eventClick)="cellClicked($event)" [allowDragAndDrop]="false" [allowMultiRowSelection]="false"
                [allowResizing]="false"
                [eventSettings]="eventSettings" [firstDayOfWeek]="firstDayOfWeek" [group]="group"
                [quickInfoOnSelectionEnd]="false" [showQuickInfo]="false" [showWeekNumber]="true"
                (renderCell)="onRenderCell($event)" (eventRendered)="onEventRendered($event)">
    <e-header-rows>
      <e-header-row option='Month'>
        <ng-template #template let-data>
          <span [innerHTML]="getMonthDetails(data)"></span>
        </ng-template>
      </e-header-row>
      <!--      <e-header-row option='Week'>-->
      <!--        <ng-template #template let-data>-->
      <!--          <span [innerHTML]="getWeekDetails(data)"></span>-->
      <!--        </ng-template>-->
      <!--      </e-header-row>-->
      <e-header-row option='Date'></e-header-row>
    </e-header-rows>

    <ng-template #eventSettingsTemplate let-data>
      <div [style.background]="data.SecondaryColor" class='template-wrap'>
        <div [style.background]="data.SecondaryColor" class="subject">{{data.Subject}}</div>
        <div class="description">Varij Kapil</div>
      </div>
    </ng-template>

    <e-resources>
      <e-resource field='userId' title='User' [dataSource]='categoryDataSource' [allowMultiple]='allowMultiple'
                  name='Users'
                  textField='text' idField='id' colorField='color'>
      </e-resource>
    </e-resources>
    <ng-template #resourceHeaderTemplate let-data>
      <div class='template-wrap'>
        <div class="name">{{data.resourceData.fullName}}</div>
        <div class="type">{{data.resourceData.leavesAllowed}}</div>
        <div class="capacity">{{data.resourceData.leavesTaken ? data.resourceData.leavesTaken : 'N/A'}}</div>
        <div class="capacity">{{data.resourceData.leavesCarriedOverFromLastYear}}</div>
      </div>
    </ng-template>

    <e-views>
      <e-view [firstDayOfWeek]="firstDayOfWeek" [interval]="monthInterval" displayName='Timeline Month'
              option='TimelineMonth'
              showWeekNumber="true">

        <ng-template #eventTemplate let-data>
          <div [style.background]="data.PrimaryColor">
            <div [style.background]="data.SecondaryColor" [style.border-color]="data.PrimaryColor"
                 class="subject">
              <span style="font-weight: bolder">{{data.Subject}}</span>
            </div>
            <div [style.background]="data.SecondaryColor" [style.border-color]="data.PrimaryColor"
                 class="subject">
              {{determineLeaveEventDescription(data)}}
            </div>
          </div>
        </ng-template>
      </e-view>
    </e-views>
  </ejs-schedule>
</div>
