
.timeline-resource.e-schedule .template-wrap {
  /*display: flex;*/
  height: 100%;
  text-align: left;
}

.timeline-resource.e-schedule .template-wrap > div {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  /*flex: 0 0 25%;*/
  font-weight: 500;
  line-height: 58px;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
}


.timeline-resource.e-schedule .template-wrap > div:last-child {
  border-right: 0;
}

.e-schedule .templatewrap {
  text-align: center;
  /*position: absolute;*/
  width: 100%;
}


