<!-- Toolbar -->
<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-icon aria-hidden="false" aria-label="Menu">menu</mat-icon>
  <span>Workday Manager</span>
  <div class="spacer"></div>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" opened="opened">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let link of sidebarLinks">
        <button mat-icon-button [matTooltip]="link.name" [routerLink]="link.link">
          <mat-icon aria-hidden="false" color="primary">{{link.icon}}</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button mat-icon-button matTooltip="Logout" (click)="logout()">
          <mat-icon aria-hidden="false" color="warn">power_settings_new</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>


  </mat-sidenav>


  <mat-sidenav-content>

    <div class="content" role="main">

      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Footer -->
<footer>
  Workday Manager footer
</footer>


