<div class="mat-card page-header" fxLayout="row" fxLayoutAlign="space-between center">
  <h2 class="page-title">
    Profile
  </h2>
</div>
<div class="mat-card" fxFill fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px">
  <!--  User Information -->
  <div fxFlex="50">
    <app-user-card [showActions]="false" [user]="userInfo"></app-user-card>
  </div>
  <!--  User Information -->
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-evenly start" fxLayoutGap="20px">
    <button (click)="showPasswordForm = !showPasswordForm" color="accent" mat-flat-button>Change Password</button>
    <div *ngIf="showPasswordForm">
      <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm" fxLayout="column"
            fxLayoutAlign="space-evenly start">
        <mat-form-field appearance="fill">
          <mat-label>Old Password</mat-label>
          <input [ngClass]="{'is-invalid': formControls.oldPassword.errors}" formControlName="oldPassword" matInput
                 placeholder="Old Password" required
                 type="password">
          <mat-error *ngIf="formControls.oldPassword.errors && formControls.oldPassword.errors.required"> Old Password
            is required
          </mat-error>

        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input [ngClass]="{'is-invalid': formControls.newPassword.errors}" formControlName="newPassword" matInput
                 placeholder="New Password" required
                 type="password">
          <mat-error *ngIf="formControls.newPassword.errors && formControls.newPassword.errors.required"> Password is
            required
          </mat-error>
          <mat-error *ngIf="formControls.newPassword.errors && formControls.newPassword.errors.minlength"> Password
            should be atleast 6 character long
          </mat-error>
          <mat-error *ngIf="formControls.newPassword.errors && formControls.newPassword.errors.MatchPassword"> Passwords
            do not match
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Repeat New Password</mat-label>
          <input [ngClass]="{'is-invalid': formControls.repeatNewPassword.errors}" formControlName="repeatNewPassword"
                 matInput placeholder="Repeat New Password" required
                 type="password">
          <mat-error *ngIf="formControls.repeatNewPassword.errors && formControls.repeatNewPassword.errors.required">
            Password is required
          </mat-error>
          <mat-error *ngIf="formControls.repeatNewPassword.errors && formControls.repeatNewPassword.errors.minlength">
            Password should be atleast 6 character long
          </mat-error>
          <mat-error *ngIf="formControls.repeatNewPassword.errors &&
          formControls.repeatNewPassword.errors.MatchPassword"> Passwords do not match
          </mat-error>
        </mat-form-field>
        <button color="warn" mat-flat-button>Change</button>
      </form>
    </div>
  </div>
  <!--  Change Password-->
</div>
